<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginData" (ngSubmit)="login()">
        <mat-card-content>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="email" required>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="f.email.touched && f.email.invalid && f.email.errors.email">Invalid Email</mat-error>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required>
                    <a mat-icon-button matTooltip="Show/Hide Password" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="f.password.invalid && f.password.touched">Invalid Password</mat-error>
                </mat-form-field>
            </p>
            <p class="mat-form-field">
                <mat-card-subtitle>New User ?<a mat-button color="primary" routerLink="/auth/register">Sign Up</a> </mat-card-subtitle>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <p>
                <a mat-stroked-button type="submit" color="primary" class="fb">
                     Login With Facebook</a>
                <a mat-stroked-button type="submit" color="primary" class="google">
                     Login With Google</a>
            </p>
            <button [disabled]="!loginData.valid" mat-button type="submit" color="primary"><mat-icon>check_circle_outline</mat-icon> Login</button>
            <a mat-button (click)="clearForm()">
                <mat-icon>highlight_off</mat-icon> Cancel</a>
        </mat-card-actions>
    </form>
</mat-card>