<mat-toolbar  class="navbar" class="mat-elevation-z3">
    <mat-icon (click)="sidenav.toggle()" [routerLink]="['/']">reorder</mat-icon>
		<span>
      <a mat-button color="primary" [routerLink]="['/startEndSet']">Start and End Date</a>
      <a mat-button color="primary" [routerLink]="['/weeklyOff']">Weekly Off</a>
      <a mat-button color="primary" [routerLink]="['/frequency']">Frequency</a>
      <a mat-button color="primary" [routerLink]="['/results']">Results</a>
    </span>
    <div class="logo">Due Date Generater</div>
</mat-toolbar>
<mat-sidenav-container color="primary" >
    <mat-sidenav opened='true'  mode="side" #sidenav class="sidenav-fab-container" fullscreen >
      <a class="top" mat-button color="accent" [routerLink]="['/startEndSet']">Start and End Date</a>
		  <a mat-button color="accent" [routerLink]="['/weeklyOff']">Weekly Off</a>
      <a mat-button color="accent" [routerLink]="['/frequency']">Frequency</a>
      <a mat-button color="accent" [routerLink]="['/results']">Results</a>
    </mat-sidenav>
    <mat-sidenav-content> 
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
